body {
  position: relative;
}

.gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
  text-align: center;
}

.info {
  width: 420px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.search-form {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;

  background-color: blue;
}

.search-form-input {
  width: 300px;
}

.info-item {
  color: black;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.load-more {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  background-color: blue;
  font-size: 22px;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
